* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
  height: 50vh;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}