* {
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  color: hsl(210, 10%, 33%);
  margin: 0;
  padding: 0;
}

.grayish-blue {
  color: hsl(201, 11%, 66%);
}

header {
  background-image: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
  height: 50vh;
}

.buttons button {
  border-radius: 30px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  color: white;
  height: 2.5em;
  margin: 3em 0.5em;
  width: 12em;
  font-weight: 600;
}

.buttons button:hover {
  opacity: 0.8;
}

.ios {
  background-color: hsl(171, 66%, 44%);;
}

.mac {
  background-color:  hsl(233, 100%, 69%);;
}

.p2 {
  margin: 2em auto;
}

.image-computer {
  width: 100%;
}

.image-3 {
  position: relative;
  left: 15%;
  width: 70vw;
}

.product-image {
  position: relative;
  left: 40%;
}

.font-16 {
  font-size: 16px;
}

.section-6 img {
  height: 6vh;
}

footer {
  background-color: #F7F9F8;
}

footer .image-logo {
  width: 10vw;
  height: 10vh;
}

.list-footer {
  list-style-type: none;
  cursor: pointer;
}

.social-icons i {
  cursor: pointer;
  font-size: 25px;
}

.list-footer li:hover {
  color: hsl(171, 66%, 44%);
} 

.social-icons i:hover {
  color: hsl(171, 66%, 44%);
}


@media (max-width: 900px) {

  .info h5, .info p {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .buttons {
    flex-direction: column;
  }

  .buttons button {
    margin: 0.5em auto;
    width: 80vw;
  }

  .section-3, .section-5, .section-6, .footer, .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-6 img {
    width: 50vw;
    height: 15vh;
    margin: 50px auto;
  }

  .image-logo {
    margin: auto;
  }

  .footer-list {
    margin: 50px 0;
    padding: 0 0 0 50px;
    text-align: center;
  }
  
  .social-icons {
    padding: 0 0 0 10px;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}